.master{
}

#obiwan{
  color:red;
}
.newsCardHolder{
  background-color: wheat;
  border: 1px solid blue;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  align-content:center;
  height:100vh;
  width:100vw;
}
.contentBox{
  border: 1px solid green;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
  align-content: space-around;
  height:900px;
  width:1800px;
  
}
.mappedBoxes{
  background-color:lightgreen;
  border:1px solid red;
  height:200px;
  width:300px;
}
.tagHolder{
  background-color:lightblue;
  border:1px dotted blue;
  height:50px;
  width:50px;
}
.newsBox{
  background-color:lightsalmon;
  border: 1px dashed darkcyan;
  height:100px;
  width:200px;
}
#news{
  width: 80px;
  height:auto;
}
.replacewithimage{
  background-color:blue;
  width: 200px;
  height: 200px; 
}